/* CSS RESET */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif, system-ui;
    text-decoration: none;
    appearance: none;
    outline: none;
}

button:enabled, select {
    cursor: pointer;
}

/* CSS RESET END */

:root {
    --black: rgb(37, 37, 37);
    --darkBlack: rgb(26, 26, 26);
    --grey: rgb(177, 177, 177);
    --pink: rgb(255, 56, 122);
    --darkPink: rgb(221, 48, 106);
    --desaturatedPink: rgb(201, 72, 115);
    --pinkShadow: rgb(from var(--pink) r g b / 0.8); 
}

@font-face {
    font-family: "playwrite";
    src: url(assets/fonts/playwrite.ttf);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/images/blurred-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signUpMenu {
    width: min(1200px, 90%);
    height: 800px;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    box-shadow: -1px 1px 8px 2px rgba(0, 0, 0, 0.397);
    background-color: var(--black);
}

.exit {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    box-sizing: content-box;
    border-radius: 100px;
    padding: 5px;
    transition-property: background-color;
    transition-duration: 200ms;

    & img {
        width: 100%;
        height: 100%;
    }
}
.exit:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

.slide {
    background-image: url(assets/images/ana.webp);
    background-position: center -140px;
    background-size: 700px auto;
    background-repeat: no-repeat;
    width: 50%;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    position: relative;
}

.slide > h1 {
    position: absolute;
    left: 30px;
    top: 30px;
    font-size: 60px;
    rotate: -6deg;
    color: var(--pink);
    font-family: "playwrite", Arial, Helvetica, sans-serif, system-ui;
    text-shadow: 0 0 6px var(--pinkShadow);
}

form {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 50%;
    color: white;
    padding: 80px 4% 0 4%;
    gap: 20px;
    display: flex;
    flex-direction: column;

    & label:not([for="termsInput"]) {
        font-weight: bold;
        color: var(--grey);
    }

    select {
        background-image: url(assets/images/down-arrow-grey.svg);
        background-repeat: no-repeat;
        background-position: calc(100% - 10px) 50%;
    }

    input:not([type="checkbox"]), select {
        transition-duration: 300ms;
        transition-property: border-color;

        &:user-invalid {
            border-color: red;
        } 
        &:focus {
            border-width: 2px;
        }
    }

    & input:not([type="checkbox"]), & select, & button {
        width: 100%;
        height: 50px;
    }

    & input:not([type="checkbox"]), & select {
        margin-top: 6px;
        background-color: transparent; 
        border: 1px solid var(--grey);
        border-radius: 100px;
        color: white;
        padding: 0 20px;
        font-size: 18px;
    }

    .passwordWrapper {
        position: relative;
        height: 50px;
    }

    #showPasswordToggle {
        position: absolute;
        width: 27px;
        height: 27px;
        background-image: url(assets/images/not-visible.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        left: calc(100% - 47px);
        top: -5px;
        cursor: pointer;
    }

    #showPasswordToggle:checked {
        background-image: url(assets/images/visible.svg);
    }

    & option {
        color: var(--black);
    }

    .dateOfBirth {
        display: flex;
        gap: 10px;
        margin-top: 6px;
    }

    .dateOfBirth > select, .dateOfBirth > input {
        width: calc(100% / 3);
    }

    #termsInput {
        /* Hide the default checkbox. Turns opacity to 0 instead of doing display: none to support screen readers */
        cursor: default;
        opacity: 0;
        position: absolute;
    }

    #termsLabel {
        display: flex;
        align-items: center;
        user-select: none;
    }

    #termsLabel a {
        color: white;
        font-weight: bold;
    }

    #termsLabel::before {
        content: "";
        border: 2px solid white;
        border-radius: 100px;
        height: 26px;
        width: 26px;
        margin-right: 10px;
        transition-duration: 200ms;
        transition-property: background-color, border-color;
        cursor: pointer;
    }

    #termsInput:checked + #termsLabel::before {
        content: "✔";
        font-size: 20px;
        border-color: var(--pink);
        background-color: var(--pink);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & button {
        margin-top: 60px;
        background-color: var(--pink);
        border-radius: 100px;
        border: none;
        color: white;
        font-weight: bold;
        font-size: 20px;
        transition-duration: 200ms;
        transition-property: background-color;
    }

    & button:disabled {
        background-color: var(--desaturatedPink);
    }

    & button:not(:disabled):hover {
        background-color: var(--darkPink);
    }

    #loginText {
        text-align: center;
    }

    .loginLink {
        color: var(--pink);
        font-weight: bold;
    }

    .errorMessage {
        font-weight: normal;
        color: red;
        margin-top: 6px;
        display: none;
    }
}